.icono{
  color: aliceblue;
  font-size: 25px;
}


ion-content
 {
    --background: rgb(209, 241, 204);
 }

 ion-card{
    --background: #fff;
 }
/*
 ion-textarea{
    --background: rgb(224, 255, 170);
 }
*/
